<div ng-show="$parent.selection =='CustListPage'">
<ul ng-show="a.selection == 'CustListPage'" class="breadcrumb">
  <li><a ng-click="gohome()">Home</a> <span class="divider">/</span></li>
  <li class="active">Customers</li>
</ul>
  
<ul ng-show="a.selection=='EditCustPage'|| a.selection =='NewCustPage'" class="breadcrumb">
  <li><a ng-click="gohome()">Home</a> <span class="divider">/</span></li>
  <li><a ng-click="a.selection ='CustListPage'">Customers</a> <span class="divider">/</span></li>    
  <li class="active">{{createcusttitle}}</li>
 </ul> 
  
 
<div ng-show=" a.selection=='EditCustPage'" class="navbar" style="width:95%;">
  <div class="navbar-inner">
   <ul class="nav">
   <li><a href="#"><i class="fa fa-refresh" title="Reload Page"></i></a></li>
   <li><a href="#"><i class="fa fa-user" title="Creation / Modified By"></i></a></li>
   <li><a href="#"><i class="fa fa-comments" title="Comments"></i></a></li>
   <li><a href="#"><i class="fa fa-paperclip" title="Attachments"></i></a></li>
   <li><a href="#"><i class="fa fa-flag" title="Assignments"></i></a></li>
   <li><a href="#"><i class="fa fa-link" title="Linked With"></i></a></li>
   <li><a href="#"><i class="fa fa-print" title="Print"></i></a></li>
   <li><a href="#"><i class="fa fa-envelope" title="Email"></i></a></li>
   <li><a href="#"><i class="fa fa-arrow-left" title="Previous Record"></i></a></li>
   <li><a href="#"><i class="fa fa-arrow-right" title="Next Record"></i></a></li>
</ul>
    <ul class="nav pull-right">
      <li ><a href="#" alt="refresh"><i class="fa fa-puzzle-piece"></i></a></li>
      <li><a href="#" atl><i class="fa fa-file-o"></i></a></li>
      <li><a href="#" atl><i class="fa fa-list"></i></a></li>
      <li><a href="#" atl><i class="fa fa-table"></i></a></li>
    </ul>
  </div>
</div>

<div ng-show="a.selection == 'CustListPage'" class="navbar" style="width:95%;">
  <div class="navbar-inner">
    <ul class="nav">
      <li ><a href="#" alt="refresh"><i class="fa fa-refresh"></i></a></li>
      <li><a ng-click="a.selection='NewCustPage'" ><i class="fa fa-plus"></i></a></li>
      <li><a href="#" ><i class="fa fa-search"></i></a></li>
      <li><a href="#" atl><i class="fa fa-tag"></i></a></li>
      <li><a href="#" atl><i class="fa fa-times"></i></a></li>
      <li class="pull-right"><a href="#" atl><i class="fa fa-check"></i></a></li>
    </ul>
    <ul class="nav pull-right">
      <li ><a href="#" alt="refresh"><i class="fa fa-puzzle-piece"></i></a></li>
      <li><a href="#" atl><i class="fa fa-file-o"></i></a></li>
      <li><a href="#" atl><i class="fa fa-list"></i></a></li>
      <li><a href="#" atl><i class="fa fa-table"></i></a></li>
    </ul>
  </div>
</div>
  <div ng-show="a.selection=='CustListPage'">
      <table class="table table-hover" style="width:90%">
     	  <tr ng-repeat="r in a.custlist.data">
     	  	<td>{{$index + 1}}</td>
		  	<td><a stop-event="click" ng-click="a.custlist.current = r;a.selection='EditCustPage'">{{r.FULL_NAME}}</a></td>
      		<td>{{r.FULL_NAME}}</td>
      		
    	  </tr>
    </table>
</div>
 <div ng-show="a.selection =='EditCustPage' || a.selection =='NewCustPage'">
 <form class="form-horizontal"> 
    <fieldset>
    <!-- Form Name -->
    <legend>1.Basic Info</legend>
    <!-- Text input-->
    <div class="row-fluid">
    <div class="span6">
  <!-- Text input-->
<div class="control-group">
  <label class="control-label" for="fullName">Full Name</label>
  <div class="controls">
    <input id="fullName" name="fullName" type="text" ng-model="fullName" placeholder="placeholder" class="input-xlarge">

  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="type">Type</label>
  <div class="controls">
    <select id="type" name="type" ng-model="type" class="input-xlarge">
      <option value="1">1</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select> 
  </div>
</div>

    </div>
    <div class="span3">
        

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="custgroup">Customer Group</label>
  <div class="controls">
    <select id="custgroup" name="custgroup" ng-model="custgroup" class="input-xlarge">
      <option value="1">1</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select> 
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="territoryid">Territory</label>
  <div class="controls">
    <select id="type" name="type" ng-model="territoryid" class="input-xlarge">
      <option value="1">1</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select> 
  </div>
</div>
<div class="control-group">
 <div class="controls">
    <div class="btn btn-success" ng-click="addNewCust();">Save</div>
  </div>
</div>
    </div>
    </div>
    </fieldset>
</form>
<form class="form-horizontal"> 
    <fieldset>
    <!-- Form Name -->
    <legend>2.More Info</legend>
    <!-- Text input-->
    <div class="row-fluid">
       <div class="span6">
    <div class="control-group">
      <label class="control-label" for="currency">Currency</label>
      <div class="controls">
        <select id="type" name="type" ng-model="currency" class="input-xlarge">
          <option value="1">1</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="6">6</option>
        </select> 
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="pricelist">Price List</label>
      <div class="controls">
        <select id="type" name="type" ng-model="pricelist" class="input-xlarge">
          <option value="1">1</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="6">6</option>
        </select> 
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="creditd">Credit Days</label>
      <div class="controls">
        <select id="type" name="type" ng-model="creditd" class="input-xlarge">
          <option value="1">1</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="6">6</option>
        </select> 
      </div>
    </div>
    
    </div>
    <div class="span3">
        

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="tac">Tax and Charges</label>
  <div class="controls">
    <select id="custgroup" name="custgroup" ng-model="tac" class="input-xlarge">
     <option value="1">1</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select> 
  </div>
</div>

<!-- Select Basic -    ->
<div class="control-group">
  <label class="control-label" for="creditl">Credit Limit</label>
  <div class="controls">
    <select id="type" name="type" ng-model="creditl" class="input-xlarge">
      <option>Open</option>
      <option>Completed</option>
      <option>Cancelled</option>
    </select> 
  </div>
</div>

    </div>
        
        
    </div>
    </fieldset>
</form>
   
    </div>
</div>    
    </form>