
<div ng-show="$parent.selection =='TaskListPage'">
  
<ul ng-show="a.selection == 'TaskListPage'" class="breadcrumb">
  <li><a ng-click="gohome()">Home</a> <span class="divider">/</span></li>
  <li><a href="#/projectlist">Projects</a> <span class="divider">/</span></li>    
  <li class="active">Tasks</li>
</ul>

<ul ng-show="a.selection=='NewTaskPage' || a.selection=='EditTaskPage'" class="breadcrumb">
  <li><a ng-click="gohome()">Home</a> <span class="divider">/</span></li>
  <li><a href="#/projectlist">Projects</a> <span class="divider">/</span></li>    
  <li><a ng-click="a.selection='TaskListPage'">Tasks</a> <span class="divider">/</span></li>
  <li class="active">{{createtasktitle}}</li>
 </ul>
 
 
<div ng-show="a.selection=='NewTaskPage' || a.selection=='EditTaskPage'" class="navbar" style="width:95%;">
  <div class="navbar-inner">
   <ul class="nav">
   <li><a href="#"><i class="fa fa-refresh" title="Reload Page"></i></a></li>
   <li><a href="#"><i class="fa fa-user" title="Creation / Modified By"></i></a></li>
   <li><a href="#"><i class="fa fa-comments" title="Comments"></i></a></li>
   <li><a href="#"><i class="fa fa-paperclip" title="Attachments"></i></a></li>
   <li><a href="#"><i class="fa fa-flag" title="Assignments"></i></a></li>
   <li><a href="#"><i class="fa fa-link" title="Linked With"></i></a></li>
   <li><a href="#"><i class="fa fa-print" title="Print"></i></a></li>
   <li><a href="#"><i class="fa fa-envelope" title="Email"></i></a></li>
   <li><a href="#"><i class="fa fa-arrow-left" title="Previous Record"></i></a></li>
   <li><a href="#"><i class="fa fa-arrow-right" title="Next Record"></i></a></li>
</ul>
    <ul class="nav pull-right">
      <li ><a href="#" alt="refresh"><i class="fa fa-puzzle-piece"></i></a></li>
      <li><a href="#" atl><i class="fa fa-file-o"></i></a></li>
      <li><a href="#" atl><i class="fa fa-list"></i></a></li>
      <li><a href="#" atl><i class="fa fa-table"></i></a></li>
    </ul>
  </div>
</div>

<div ng-show="a.selection == 'TaskListPage'" class="navbar" style="width:95%;">
  <div class="navbar-inner">
    <ul class="nav">
      <li ><a href="#" alt="refresh"><i class="fa fa-refresh"></i></a></li>
      <li><a ng-click="a.selection='NewTaskPage'" ><i class="fa fa-plus"></i></a></li>
      <li><a href="#" ><i class="fa fa-search"></i></a></li>
      <li><a href="#" atl><i class="fa fa-tag"></i></a></li>
      <li><a href="#" atl><i class="fa fa-times"></i></a></li>
      <li class="pull-right"><a href="#" atl><i class="fa fa-check"></i></a></li>
    </ul>
    <ul class="nav pull-right">
      <li ><a href="#" alt="refresh"><i class="fa fa-puzzle-piece"></i></a></li>
      <li><a href="#" atl><i class="fa fa-file-o"></i></a></li>
      <li><a href="#" atl><i class="fa fa-list"></i></a></li>
      <li><a href="#" atl><i class="fa fa-table"></i></a></li>
    </ul>
  </div>
</div>
 
 
 <div ng-show="a.selection=='TaskListPage'">
      <table class="table table-hover" style="width:90%">
     	  <tr ng-repeat="r in a.tasklist.data">
		  	<td>{{$index + 1}}</td>
		  	<td><a stop-event="click" ng-click="a.tasklist.current = r;a.selection='EditTaskPage'">{{r.task_name}}</a></td>
      		<td>{{r.resource_name}}</td>
      		<td><span class="label label-important">{{r.status}}</span></td>
      		<td><span class="label label-info">{{r.PRIORITY}}</span></td>
      		
    	  
    	  </tr>
    </table>
</div>
<div ng-show="a.selection=='NewTaskPage' || a.selection=='EditTaskPage'">
  <form class="form-horizontal"> 
    <fieldset>
    <!-- Form Name -->
    <legend><i class="fa fa-align-justify"></i> Task Details</legend>
    <!-- Text input-->
    <div class="row-fluid">
    <div class="span6">
  <!-- Text input-->
<div class="control-group">
  <label class="control-label" for="taskName">Task Name</label>
  <div class="controls">
    <input id="taskName" name="taskName" type="text" ng-model="taskName"
    placeholder="placeholder" class="input-xlarge">
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="projStartDate">Expected Start Date</label>
<!--  <div class="controls">
    <input id="projStartDate" name="projStartDate" type="text" placeholder="" class="input-xlarge" required="">
  </div>
-->   <div class="controls">
      <input type="text" class="form-control" id="tesd"
                    datepicker-popup="dd-MMMM-yyyy" 
                    ng-model="startDate" 
                    is-open="tesdopend" 
                    datepicker-options="dateOptions"  
                    ng-required="true" 
                    close-text="Close" ng-click="open($event);tesdopend = true">
  </div> 
</div>

<div class="control-group">
  <label class="control-label" for="projStartDate">Expected End Date</label>
<!--  <div class="controls">
    <input id="projStartDate" name="projStartDate" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
-->
      <div class="controls">
      <input type="text" class="form-control" id="teed"
                    datepicker-popup="dd-MMMM-yyyy" 
                    ng-model="endDate" 
                    is-open="teedopend" 
                    datepicker-options="dateOptions"  
                    ng-required="true" 
                    close-text="Close" ng-click="open($event);teedopend = true">
  </div> 
    
</div>

<div class="control-group">
  <label class="control-label" for="selProj">Assigned To </label>
  <div class="controls">
    <div ng-show ="a.resources.data.length !== 0" >
      <select ng-model="resourceId">
           <option ng-repeat="item in a.resources.data" value="{{item.RSC_ID}}">
               {{item.RSRC_NAME}}
           </option>
      </select>
    </div>
  </div>
</div>

</div>

<div class="span3">
<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="selProj">Select Project </label>
  <div class="controls">
    <div ng-show ="a.projects.data.length !== 0" >
      <select ng-model="projectId">
           <option ng-repeat="item in a.projects.data" value="{{item.proj_id}}">
               {{item.PROJECT_NAME}}
           </option>
      </select>
    </div>
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="status">Status</label>
  <div class="controls">
    <select id="status" name="status" ng-model="status" class="input-xlarge">
      <option>Open</option>
      <option>Completed</option>
      <option>Cancelled</option>
    </select> 
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="priority">Priority</label>
  <div class="controls">
    <select id="priority" name="priority" ng-model="priority" class="input-xlarge">
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
      <option value="High">High</option>
    </select>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="desc">Description</label>
  <div class="controls">
    <textarea id="desc" name="desc" ng-model="desc" class="input-xlarge"></textarea>
  </div>
</div>

<div class="control-group">
 <div class="controls">
    <div class="btn btn-success" ng-click="addNewTask();">Save</div>
  </div>
</div>
</div>
</div>
</fieldset>
</form>

<form class="form-horizontal"> 
    <fieldset>
    <!-- Form Name -->
    <legend><i class="fa fa-comments-o"></i> Comments </legend>
    <!-- Text input-->
    <div class="row-fluid">
    <div class="span8">
    <div class="control-group">
      <div class="controls">
        <textarea id="desc" name="desc" ng-model="comments"  rows="3" style="width:500px"></textarea>
      </div>
    </div>
           
    <div class="control-group">
      <div class="controls">
       <div class="btn btn-primary" ng-click="addComments();"><i class="fa fa-repeat"></i></div>
      </div>
    </div>     
    </div>
    <div class="span4">
       <div class="comments" ng-repeat="r in a.comments.data">
		  	{{r.COMMENTS}}<div  style="font-size:10px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5)">{{r.CREATION_DATE |  date:'medium'}}</div>
    	  </div>
       
</fieldset>
</form>
   
    
</div>  
    
   </div>
    </fieldset>
</form>

    
</div>
</div>
</form>
</div>
 
</div>